
<% if false%>
	<%= form_for(current_user.relationships.build(followed_id: @user.id),
		method: :post, controller: 'relationships', action: 'createStandard') do |f| %>
	  <div><%= f.hidden_field :followed_id %></div>
	  <%= f.submit "Follow Standard", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>

<!-- 
	builds a new relationship
	produces
	<input id="relationship_followed_id" name="relationship[followed_id]"
			type="hidden" value="3" />
-->	



<%= form_for(current_user.relationships.build(followed_id: @user.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
<!-- Builds this
	<form action="/relationships/117" class="edit_relationship" data-remote="true"
      id="edit_relationship_117" method="post">
</form>
-->